<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="">
</head>
<body >
<div class="row"></div>
<form action="/" method="post"></form>

В нем создать:
Систему дистрибьюции контента с использованием node js(express)
1)Вход/регистрация
2)Реализовать панель администратора (вход разрешить только привелигированым пользователям)
3)Администратор умеет загружать контент и назначать ему цену из админской секции
4)Гость умеет просматривать весь контент, но не может ничего купить
5)Зарегистрированый пользователь может купить контент (страйп)
6)Зарегистрированый пользователь может просмотреть весь купленный контент (edited)

</body>
</html>

<% if(errors) {%>
<% for(var i=0; i<errors.length;i++) {%>
<div class="alert alert-danger"><%=msg[i] %></div>
<%} %>
<%} %>
<%- include('user/show', {user: user}); %>

<% errors.forEach(function(errors){ %>
<div class="alert alert-danger"><%=msg %></div>

<% }); %>
<% if(errors!== undefined){%>

<% errors.forEach(function(errors){ %>
<div ><%=errors.msg %></div>
<% }) %>

<%}%>


<% if(success_msg){%>
<div class="container">
    <div class="row justify-content-center">
        <div class="alert alert-danger col-md-5"><%=success_msg %></div>
    </div>

</div>
<%}%>
<% if(error_msg){%>
<div class="container">
    <div class="row justify-content-center">
        <div class="alert alert-danger col-md-5"><%=error_msg %></div>
    </div>

</div>
<%}%>
<% if(error){%>
<div class="container">
    <div class="row justify-content-center">
        <div class="alert alert-danger col-md-5"><%=error %></div>
    </div>

</div>
<%}%>
<a class="nav-item nav-link active" href="/logout" onclick="logout(event)">Logout</a>

<form  class="col-md-5" action="/login" method="post" enctype="multipart/form-data" >
    <input type="submit" class="nav-item nav-link " name='logout' value='logout'>

</form>
<p></p>
<img src="" alt="" width="">